<html>
<head>
    <title>Conference management</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="styles/app.css">
</head>
<body ng-app="myApp" class="ng-cloak">
<div class="generic-container" ng-controller="ConferenceController as ctrl">
    <div class="modal fade" id="availableRoomModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Room available</h4>
                </div>
                <div class="modal-body">
                    <p>Available room is "{{ctrl.room.name}}" with maximum seats number: {{ctrl.room.maxSeats}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="noRoomModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Room is not available</h4>
                </div>
                <div class="modal-body">
                    <p>We have not found any room available for your conference!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Conference Registration Form </span></div>
        <div class="formcontainer">
            <form ng-submit="ctrl.submit()" name="confForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.conference.id"/>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="name">Name</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.conference.name" id="name" class="name form-control input-sm" placeholder="Conference name (max 150)" required ng-maxlength="150"/>
                            <div class="has-error" ng-show="confForm.$dirty">
                                <span ng-show="confForm.name.$error.required">This is a required field</span>
                                <span ng-show="confForm.name.$error.maxlength">Maximum length is 150</span>
                                <span ng-show="confForm.name.$invalid">This field is invalid </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="date">Date</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="dateStr" id="dateStr" class="date form-control input-sm" placeholder="Conference date (dd.mm.yyyy HH:mm)" required/>
                            <input type="hidden" ng-model="ctrl.conference.date" id="date"/>
                            <div class="has-error" ng-show="confForm.$dirty">
                                <span ng-show="confForm.date.$error.required">This is a required field</span>
                                <span ng-show="confForm.date.$invalid">This field is invalid</span>
                                <span>{{dateErrMsg}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit" value="{{!ctrl.conference.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="confForm.$invalid">
                        <button type="button" ng-click="ctrl.resetConference()" class="btn btn-warning btn-sm" ng-disabled="confForm.$pristine">Reset Form
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">List of Conferences</span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="10%">ID.</th>
                    <th width="40%">Name</th>
                    <th width="20%">Date</th>
                    <th width="30%"></th>
                </tr>
                </thead>
                <tbody ng-repeat="u in ctrl.conferences">
                <tr ng-click="ctrl.fetchParticipants(u.id)">
                    <td><span ng-bind="u.id"></span></td>
                    <td><span ng-bind="u.name"></span></td>
                    <td><span ng-bind="u.date | date:'dd.MM.yyyy HH:mm'"></span></td>
                    <td>
                        <button type="button" ng-click="ctrl.edit(u.id);$event.stopPropagation()" class="btn btn-success custom-width">Edit
                        </button>
                        <button type="button" ng-click="ctrl.remove(u.id);$event.stopPropagation()" class="btn btn-danger custom-width">Remove
                        </button>
                        <button type="button" ng-click="ctrl.showRoom(u.id);$event.stopPropagation()" class="btn btn-default">Show availlable room
                        </button>
                    </td>
                </tr>
                <tr ng-class="{selected: ctrl.selectedConference == u.id}" ng-show="ctrl.selectedConference == u.id">
                    <td></td>
                    <td>
                        <div ng-repeat="p in ctrl.participants">
                            <span ng-bind="p.name"></span>
                            <button type="button" ng-click="ctrl.removeParticipant(p.id)" class="btn btn-xs btn-link pull-right">
                                Remove
                            </button>
                            <span ng-bind="p.birthday | date:'dd.MM.yyyy'" class="pull-right"></span>
                        </div>
                        <form ng-submit="ctrl.addParticipant()" name="partForm">
                            <input type="text" ng-model="ctrl.participant.name" class="input-sm" placeholder="Participant fullname" required/>
                            <input type="text" ng-model="ctrl.participant.birthday" class="input-sm" placeholder="Birthday (dd.mm.yyyy)"/>
                            <input type="submit" value="Add" class="btn btn-primary btn-sm" ng-disabled="partForm.$invalid">
                        </form>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/jquery/3.1.1/jquery.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/conference_service.js"></script>
<script src="js/conference_controller.js"></script>
</body>
</html>