body, #mainWrapper {
    height: 70%;
    background-color: rgb(245, 245, 245);
}

body, .form-control {
    font-size: 12px !important;
}

.floatRight {
    float: right;
    margin-right: 18px;
}

.has-error {
    color: red;
}

.formcontainer {
    background-color: #DAE8E8;
    padding: 20px;
}

.tablecontainer {
    padding-left: 20px;
}

.generic-container {
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.name.ng-valid {
    background-color: lightgreen;
}

.name.ng-dirty.ng-invalid-required {
    background-color: red;
}

.name.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.date.ng-valid {
    background-color: lightgreen;
}

.date.ng-dirty.ng-invalid-required {
    background-color: red;
}

.date.ng-dirty.ng-invalid-date {
    background-color: yellow;
}

.selected {
    background-color: lightgray;
}